
.parallax-section {
    background-image: url('/src/images/img-banner.jpg');
    position: relative;
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  @media (max-width: 767.98px) {
    .parallax-section {
      background-image: url('path/to/mobile/image.jpg'); 
    }
  }