.card-adt {
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  transition: box-shadow 0.3s ease-in-out !important;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-2px) !important;
  }
  .img-card-adt{
    width: 100%;
    height: auto !important;
   
  }

  .card-adt-body {
    padding: 1.25rem !important;

    .card-adt-title {
      font-size: 1.25rem !important;
      margin-bottom: 0.75rem !important;
      color: #333 !important;
    }

    .card-adt-text {
      font-size: 1rem !important;
      color: #666 !important;
    }
  }
}






